
body {
  margin: 0;
}


/* Header */

.header{
  width: 100%;
  padding: 0px;
  border-bottom: none;
  z-index: 9 !important;
  background: rgba(6, 31, 36, 0.9);
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
  height: 110px;
}